.jumbotron{
    color: white;
    background-color: teal;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
}
.btn{
    color:white;
    background-color: teal;
    border-color: teal;
}
.card-hotel{
    flex:1 150px;
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
    border-color: teal;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    margin-left: 5px;
}
.btn-informacion{
    width: 100%;
}
footer{
    border-radius: 2%;
    background-color:tomato;
    color:white;
    font-style: normal;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
.info{
    font-family: 'Courier New', Courier, monospace;
    
}

.footer-address-icon{
    padding-right: 10px;
}
table{
    font-family: 'Courier New', Courier, monospace;
}
.Contact{
    font-family: 'Courier New', Courier, monospace;
}
.card{
    border-radius: 10px;
}
.card-subtitle{
    margin-bottom: 10px;
}
.imagen{
width: 100%;
}

.nuevo{
    width: 100%;
    margin-bottom: 10px;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.cajadecomentario{
    margin-top: 20px;
    font-size: 20px;
}
.cajadecomentariotitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.colapso{
    margin: 15px 0 15px 0;
    width: 100%;
    font-size: 20px;
}
.portada{
    margin-bottom: 30px;
}

.carousel{
    margin-top: auto;
}